<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium WebDriver Homework Suite" preserve-order="true">
    
        <!-- Task 1: Price Comparison Test-->
    <test name="Price comparion- Factory">
        <classes>
            <class name="org.example.PriceComparisonTest"/>
        </classes>
    </test>
    
    <!-- Task 2: Login Test using Factory -->
    <test name="Login Test - Factory">
        <classes>
            <class name="org.example.LoginTestFactory"/>
        </classes>
    </test>
    
    <!-- Task 3: Factory Test Example -->
    <test name="Factory Test Example">
        <classes>
            <class name="org.example.FactoryTest$FactoryTestFactory"/>
        </classes>
    </test>
    
</suite>